.card-modal {
    background-color: white;

    max-width: 50vw;
    max-height: 80vh;

    min-width: 30vw;
    min-height: 50vh;

    border-radius: 10px;

    overflow-y: auto;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    box-shadow: 0 0 100px #444;
}

.card-modal-nav-bar {
    position: relative;
}

.card-modal-nav-bar > .transparent-btn {
    position: absolute;
    right: 0;
    margin: 10px 10px 0 0;
    padding: 0 0 15px 15px;
    border-radius: 0 0 0 50px;
    background-color: #fff;
    box-shadow: -5px 5px 15px white;
}

.card-modal-nav-bar > .transparent-btn > img {
    width: 2.1em;
    opacity: 0.45;
}

.card-modal-nav-bar > .transparent-btn > img:hover {
    opacity: 0.65;
}

.card-modal-nav-bar-folders-container {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: clip;
}

.card-modal-body {
    color: #202020;

    height: 100%;
    padding: 10px 30px;

    white-space: pre-wrap;
    word-break: break-word;
}

.card-modal-bottom-bar {
    background-color: #eee;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
}

.card-modal-nav-bar-folders-container > * {
    color: #666;
}

.folder-link-spacer {
    display: inline;
    margin: 0 5px;
    font-size: 0.7em;
    font-weight: bold;
}

.folder-link {
    font-size: 0.85em;
    margin: 0 3px;
}

.folder-link:hover {
    color: #666;
    text-decoration: underline;
}

.card-modal-bottom-bar > .timestamp {
    padding: 0;
}