.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fafafa;

    min-width: 10vw;
    max-width: 30vw;
    height: 20vh;

    font-size: 1.1em;
    white-space: pre-wrap;
    word-wrap: anywhere;

    margin: 10px;
    border-radius: 10px;

    box-shadow: 0 0 3px #bec4bd;

    cursor: pointer;
}

.card:hover {
    box-shadow: 0 0 5px #686c68;
}

.card-content {
    padding: 5px 25px;
}

.card > .timestamp {
    align-content: flex-end;
    padding: 10px 15px;
}