#chat-container {
    width: 25vw;
    height: 100vh;
    background-color: #EFEAE2;
    background-image: url("/public/backgrounds/whatsapp-doodle.png");
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#chat-pane {
    padding: 10px 20px;

    align-self: flex-end;

    display: flex;
    flex-direction: column;

    overflow-y: auto;
}

#chat-input-container {
    background-color: #eaeef6;
    padding: 10px;
}

#chat-input-form {
    display: flex;
    vertical-align: center;
}

#chat-input-form > .transparent-btn {
    opacity: 0.4;
}

#chat-input-text {
    border: none;
    border-radius: 10px;
    width: 90%;
    padding: 10px;
    margin: 0 5px;
    font-size: 1em;
    background-color: white;
    word-break: break-word;
}

#chat-input-text:empty:before {
    content: attr(placeholder);
    color: grey;
    pointer-events: none;
    display: block; /*  For Firefox  */
}

#chat-input-text:focus {
    outline: none;
}