.timestamp {
    color: #858585;
    text-align: right;
    padding: 0 5px 5px 0;
    font-size: 0.85em;
}

.transparent-btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.transparent-btn:hover {
    background-color: #85858520;
    border-radius: 5px;
}

.transparent-btn > img {
    width: 30px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}