#gallery {
    /* Subtract the height of the top bar and the padding applied to this element */
    height: calc(100vh - 50px - 40px);
    width: 60vw;
    padding: 20px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;

    overflow-y: auto;

    background-color: #eee;
}
