.log-item {
    min-width: 300px;
    max-width: 70%;
    border-radius: 10px;

    margin: 5px;
    padding: 0 5px;

    background-color: #d9fdd3;
    align-self: flex-end;

    /* x-offset y-offset blur-radius color */
    box-shadow: 1px 1px 3px #81987f;
}

.log-item-contents {
    padding: 0 5px;
    white-space: pre-line;
    word-break: break-word;
}

.log-item-timestamp {
    color: #858585;
    text-align: right;
    padding: 0 5px 5px 0;
    font-size: 0.85em;
}