.search-modal {
    background-color: white;

    max-width: 40vw;
    max-height: 80vh;

    min-width: 40vw;
    /*min-height: 50vh;*/

    border-radius: 10px;
    padding: 10px 20px;

    overflow-y: auto;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    box-shadow: 0 0 100px #444;
}

#search-input-container {
    display: flex;
    align-items: center;
}

#search-input {
    margin-left: 10px;

    border: 0;
    outline: 0;

    font-size: 1.2em;
}