.search-modal {
    position: absolute;
    top: 15vh;

    background-color: white;

    max-width: 40vw;
    max-height: 80vh;

    min-width: 40vw;
    /*min-height: 5vh;*/

    border-radius: 10px;

    overflow-y: auto;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    box-shadow: 0 0 100px #444;
}

#search-input-container {
    display: flex;
    align-items: center;
    padding: 10px 20px;
}

#search-input {
    margin-left: 10px;
    height: 5vh;

    border: 0;
    outline: 0;

    font-size: 1.2em;
    color: #303030;
}

#search-results-container {
    overflow-y: auto;
}

.search-result-anchor,
.search-result-anchor:hover {
    text-decoration: none;
}

.search-result {
    font-size: 1.1em;
    padding: 5px 20px;
    vertical-align: center;
    color: #404040;
}

.search-result > p {
    line-height: 1em;
    font-size: 0.9em;
    max-height: 2em;

    overflow: clip;
    text-overflow: ellipsis;
}

.search-result:hover {
    background-color: #ddd;
}